:link {
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: 'Heebo', sans-serif;
    font-size: 150%;
}

h1, h2, h3, nav a {
    @include heading-font;
}

.row {
    display: flex;
    justify-content: space-between;
}

.one-half {
    width: 50%;
}

article {
    margin: $margin;
}

.one-third {
    width: 33%;
}

body {
    background-color: $base-background-color;
    display: flex;
    align-items: center;
    flex-direction: column;
}

pre {
    margin: $margin;
    background-color: $content-background-color;
}

@media only screen and (max-width: $nominal-tablet-width) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    pre {
        width: 80%;
        box-sizing: border-box;
    }
}