

footer {
    background-color: $footer-background-color;
    color: $highlight-color;
    max-width: $nominal-desktop-width;
    padding: $padding;
    box-sizing: border-box;
    width: 100%;
}

footer a:link {
    color: $highlight-color;
    text-decoration: none;
}

footer a:visited {
    color: $highlight-color;
    text-decoration: none;
}

@media only screen and (min-width: $nominal-tablet-width) and (max-width: $nominal-desktop-width) {
    footer {
        max-width: $nominal-tablet-width;
    }
}

@media only screen and (max-width: $nominal-tablet-width) {
    footer {
        max-width: 100%;
    }
}