header {
    background-color: $highlight-background-color;
    position: sticky;
    top: 0;
    z-index: 2;
    width: $nominal-desktop-width;
    display: flex;
    align-items: center;
    justify-items: center;
}

.title {
    display: flex;
}

.title {
    padding: 15px;
}

.header-content-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul {
    display: flex;
    margin: 0px 0px;
    padding: 0px 40px;
}

header nav li {
    margin: $margin;
}

header h2 {
    margin: 0px $margin;
    color: $header-content-color;
}

.btn-menu {
    display: none;
    background-color: transparent;
    border: none;
    color: $highlight-color;
    @include heading-font;
    font-size: 100%;
}


header a:link {
    color: $header-content-color;
}

header a:visited {
    color: $header-content-color;
}

header li {
    color: $header-content-color;
    display: block;
    font-weight: bold;
}

.hamburger {
    background-color: transparent;
    border: 2px #ccc solid;
    color: #ccc;
    font-size: 2em;
    display: none;
    margin: 10px;
    border-radius: 5px;
}

@media only screen and (min-width: $nominal-tablet-width) and (max-width: $nominal-desktop-width) {
    header {
        width: $nominal-tablet-width;
    }
}

@media only screen and (max-width: $nominal-tablet-width) {
    .btn-menu {
        display: block;
    }

    header nav {
        display: none;
        background-color: $secondary-background-color;
    }

    .show header nav {
        display: block;
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    .header-content-wrap {
        flex-wrap: wrap;
    }

    .hamburger {
        display: block;
    }
    
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .title {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}