header {
    background-color: $highlight-background-color;
    position: sticky;
    top: 0;
    z-index: 2;
    width: $nominal-desktop-width;
}

.header-content-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav li {
    margin: $margin;
}

header h1 {
    margin: $margin;
    color: $header-content-color;
}

.btn-menu {
    display: none;
    background-color: transparent;
    border: none;
    color: $highlight-color;
    @include heading-font;
    font-size: 100%;
}


header a:link {
    color: $header-content-color;
}

header a:visited {
    color: $header-content-color;
}

header li {
    color: $header-content-color;
    display: block;
    font-weight: bold;
}

@media only screen and (min-width: $nominal-tablet-width) and (max-width: $nominal-desktop-width) {
    header {
        width: $nominal-tablet-width;
    }
}

@media only screen and (max-width: $nominal-tablet-width) {
    .btn-menu {
        display: block;
    }

    header nav {
        display: none;
    }

    .show header nav {
        display: block;
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    .header-content-wrap {
        flex-wrap: wrap;
    }
}