

main h1, header h1, .top-banner h2 {
    @include heading-font;
    font-size: 250%;
}

.bottom-banner p {
    @include heading-font;
    font-size: 200%;
}

section h1 {
    font-size: 150%;
}

section article h1 {
    font-size: 100%;
}

main {
    max-width: $nominal-desktop-width;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $content-background-color;
}

main h1, main h2 {
    text-align: center;
}

.top-banner {
    text-align: center;
}

.mid-banner {
    width: 100%;
    position: relative;
}

.mid-banner img {
    width: 100%;
}

.mid-banner h2 {
    @include center-on-parent;
}

.bottom-banner {
    background-color: $section-background-color;
    width: 100%;
    text-align: center;
    padding: $padding;
    box-sizing: border-box;
}

.bottom-banner p {
    margin: $margin;
}

.bottom-banner a {
    display: inline-block;
    background-color: $highlight-background-color;
    padding: $padding;
    margin: $margin;
    color: $highlight-color;
    font-weight: bold;
}