

main h1, header h1, .top-banner h2 {
    @include heading-font;
    font-size: 250%;
}

.bottom-banner p {
    @include heading-font;
    font-size: 200%;
}

section h1 {
    font-size: 150%;
}

section article h1 {
    font-size: 100%;
}

main {
    width: $nominal-desktop-width;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $content-background-color;
}

main h1, main h2 {
    text-align: center;
}

.top-banner {
    text-align: center;
}

#banner {
    width: 100%;
    position: relative;
    max-height: 400px;
    overflow: hidden;
}

#banner img {
    width: 100%;
}

.grey-box {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ccccccaa;
    width: 100%;    
}

.grey-box h1 {
    margin: $margin;
}

#lesson-nav {
    background-color: $article-background-color;
    padding: 15px;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 15px gray);
}

#lesson-nav ol {
    display: flex;
    justify-content: space-evenly;
}

#lesson-nav li {
    display: block;
}

article {
    background-color: $article-background-color;
    padding: 35px;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 15px gray);
    min-width: 80%;
}

.bottom-banner {
    background-color: $section-background-color;
    width: 100%;
    text-align: center;
    padding: $padding;
    box-sizing: border-box;
}

.bottom-banner p {
    margin: $margin;
}

.bottom-banner a {
    display: inline-block;
    background-color: $highlight-background-color;
    padding: $padding;
    margin: $margin;
    color: $highlight-color;
    font-weight: bold;
}






@media only screen and (min-width: $nominal-tablet-width) and (max-width: $nominal-desktop-width) {
    main {
        width: $nominal-tablet-width;
    }
}

@media only screen and (max-width: $nominal-tablet-width) {
    main {
        background-color: $article-background-color;
        width: 100%;
        max-width: 100%;
    }

    article {
        min-width: 320px;
        padding: 10px;
        border-radius: 0px;
        filter: none;
        margin: 0px;
        width: 100%;
    }
}
#day{
    box-shadow:0px 0px 2px 3px #2a3670;
    border: 2px solid #2a3670;
    text-align: center;
    
    width: 100%;
    
    grid-gap: 2em;
    
    padding-top:100px;
    padding-bottom: 80px;
    
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 90%;
}
.agenda {
    list-style-type: none;
    display: none;
    padding: 10px;
}


.active, .accordion:hover {
    background-color: #ccc;
}

