@mixin heading-font {
    font-family: 'Cinzel', sans-serif; 
    font-weight: bold;
}

@mixin center-on-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $highlight-color;
    font-size: 250%;
}