$highlight-background-color: orangered;
$base-background-color: lightgrey;
$content-background-color: white;
$section-background-color: #eee;
$footer-background-color: black;

$highlight-color: white;

$nominal-desktop-width: 1600px;

$padding: 30px;
$margin: 30px;
