$highlight-background-color: #2a3670;
$secondary-background-color: gray;
$base-background-color: lightgrey;
$content-background-color: #eee;
$section-background-color: #eee;
$article-background-color: #ddd;
$footer-background-color: black;

$highlight-color: white;
$header-content-color: #eeeeee;

$nominal-tablet-width: 1080px;
$nominal-desktop-width: 1600px;

$padding: 30px;
$margin: 20px;
