/* CSS Document */
:link {
  text-decoration: none; }

body {
  margin: 0px;
  font-family: 'Heebo', sans-serif;
  font-size: 150%; }

h1, h2, h3, nav a {
  font-family: 'Cinzel', sans-serif;
  font-weight: bold; }

.row {
  display: flex;
  justify-content: space-between; }

.one-half {
  width: 50%; }

article {
  margin: 20px; }

.one-third {
  width: 33%; }

body {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  flex-direction: column; }

pre {
  margin: 20px;
  background-color: #eee; }

@media only screen and (max-width: 1080px) {
  .row {
    flex-direction: column;
    align-items: center; }

  pre {
    width: 80%;
    box-sizing: border-box; } }
header {
  background-color: #2a3670;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 1600px;
  display: flex;
  align-items: center;
  justify-items: center; }

.title {
  display: flex; }

.title {
  padding: 15px; }

.header-content-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

header nav ul {
  display: flex;
  margin: 0px 0px;
  padding: 0px 40px; }

header nav li {
  margin: 20px; }

header h2 {
  margin: 0px 20px;
  color: #eeeeee; }

.btn-menu {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Cinzel', sans-serif;
  font-weight: bold;
  font-size: 100%; }

header a:link {
  color: #eeeeee; }

header a:visited {
  color: #eeeeee; }

header li {
  color: #eeeeee;
  display: block;
  font-weight: bold; }

.hamburger {
  background-color: transparent;
  border: 2px #ccc solid;
  color: #ccc;
  font-size: 2em;
  display: none;
  margin: 10px;
  border-radius: 5px; }

@media only screen and (min-width: 1080px) and (max-width: 1600px) {
  header {
    width: 1080px; } }
@media only screen and (max-width: 1080px) {
  .btn-menu {
    display: block; }

  header nav {
    display: none;
    background-color: gray; }

  .show header nav {
    display: block;
    width: 100%; }

  header nav ul {
    flex-direction: column;
    align-items: center; }

  .header-content-wrap {
    flex-wrap: wrap; }

  .hamburger {
    display: block; }

  header {
    display: flex;
    flex-direction: column;
    width: 100%; }

  .title {
    width: 100%;
    justify-content: space-between;
    align-items: center; } }
main h1, header h1, .top-banner h2 {
  font-family: 'Cinzel', sans-serif;
  font-weight: bold;
  font-size: 250%; }

.bottom-banner p {
  font-family: 'Cinzel', sans-serif;
  font-weight: bold;
  font-size: 200%; }

section h1 {
  font-size: 150%; }

section article h1 {
  font-size: 100%; }

main {
  width: 1600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eee; }

main h1, main h2 {
  text-align: center; }

.top-banner {
  text-align: center; }

#banner {
  width: 100%;
  position: relative;
  max-height: 400px;
  overflow: hidden; }

#banner img {
  width: 100%; }

.grey-box {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ccccccaa;
  width: 100%; }

.grey-box h1 {
  margin: 20px; }

#lesson-nav {
  background-color: #ddd;
  padding: 15px;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 15px gray); }

#lesson-nav ol {
  display: flex;
  justify-content: space-evenly; }

#lesson-nav li {
  display: block; }

article {
  background-color: #ddd;
  padding: 35px;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 15px gray);
  min-width: 80%; }

.bottom-banner {
  background-color: #eee;
  width: 100%;
  text-align: center;
  padding: 30px;
  box-sizing: border-box; }

.bottom-banner p {
  margin: 20px; }

.bottom-banner a {
  display: inline-block;
  background-color: #2a3670;
  padding: 30px;
  margin: 20px;
  color: white;
  font-weight: bold; }

@media only screen and (min-width: 1080px) and (max-width: 1600px) {
  main {
    width: 1080px; } }
@media only screen and (max-width: 1080px) {
  main {
    background-color: #ddd;
    width: 100%;
    max-width: 100%; }

  article {
    min-width: 320px;
    padding: 10px;
    border-radius: 0px;
    filter: none;
    margin: 0px;
    width: 100%; } }
#day {
  box-shadow: 0px 0px 2px 3px #2a3670;
  border: 2px solid #2a3670;
  text-align: center;
  width: 100%;
  grid-gap: 2em;
  padding-top: 100px;
  padding-bottom: 80px; }

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 90%; }

.agenda {
  list-style-type: none;
  display: none;
  padding: 10px; }

.active, .accordion:hover {
  background-color: #ccc; }

footer {
  background-color: black;
  color: white;
  max-width: 1600px;
  padding: 30px;
  box-sizing: border-box;
  width: 100%; }

footer a:link {
  color: white;
  text-decoration: none; }

@media only screen and (min-width: 1080px) and (max-width: 1600px) {
  footer {
    max-width: 1080px; } }
@media only screen and (max-width: 1080px) {
  footer {
    max-width: 100%; } }

/*# sourceMappingURL=styles.css.map */
